@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationService

@{
    var resultAuthorize = await authorizationService.AuthorizeAsync(this.User, "ShowAdminMenu");
}
@if (resultAuthorize.Succeeded)
{
    <div class="container-fluid navbar-expand-lg navbar-dark bg-dark rounded-3 px-1">
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle navbar-brand me-2" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Admin
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" asp-area="Admin" asp-page="/Role/Index">Quản lý Role</a></li>
                        <li><a class="dropdown-item" asp-area="Admin" asp-page="/User/Index" 
                            asp-route-p="1">Quản lý người dùng</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
}



