
@using Microsoft.AspNetCore.Identity
@inject  SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item mx-1">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index">
            Xin chào @UserManager.GetUserName(User) !
        </a>
    </li>
    <li class="nav-item mx-1">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
            <button type="submit" class="btn btn-outline-primary px-3">Đăng xuất</button>
        </form>
    </li>
}else{
    <ul class="navbar-nav">
        <li class="nav-item mx-1">
            <a class="btn btn-outline-primary px-3" asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
        </li>
        <li class="nav-item mx-1">
            <a class="btn btn-primary px-3" asp-area="Identity" asp-page="/Account/Register">Đăng ký</a>
        </li>
    </ul>
}


