@page "/user/du-lieu-ca-nhan"
@model PersonalDataModel
@{
    ViewData["Title"] = "Dữ liệu cá nhân";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>
            Tài khoản của bạn chứa thông tin cá nhân mà bạn đã cung cấp cho chúng tôi.
            Trang này cho phép bạn tải xuống hoặc xóa dữ liệu này.
        </p>
        
        <p>
            <strong>Xóa dữ liệu này đồng nghĩa tài khoản của bạn sẽ bị xóa và không thể phục hồi.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Tải về máy</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger mt-1">Xóa tài khoản</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
