@page "/user/add-role"
@model AddRoleModel
@{
    ViewData["Title"] = "Thiết lập Role cho người dùng";
    ViewData["ActivePage"] = ManageNavPages.AddRole;
}

<h3>@ViewData["Title"]</h3>
<div class="row">
    <div class="col-md-8">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="userRolesName"></label>
                <div class="row mt-2">
                    <div class="col-md-8 pe-0">
                        @Html.ListBoxFor(m => m.userRolesName, Model.allRoles, new{
                        id = "id-select-roles", @class = "form-control border border-info rounded-1", multiple="multiple"
                        })

                        <partial name="_SubmitBackButton" model="@(new ButtonAttr{PageUrl = "../Index"})" />
                    </div>
                    <div class="col-md-4 ps-0">
                        <a href="javascript:document.getElementById('id-select-roles').selectize.selectall();"
                           class="btn btn-secondary py-2">
                            Toàn bộ
                        </a>
                    </div>
                </div>
                <span asp-validation-for="userRolesName" class="text-danger"></span>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>
<hr />
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-5">
        <p>Các Roleclaims tài khoản được phân quyền:</p>
        <partial name="Claims/_TableRoleClaims" model="Model.roleClaims" />
    </div>
    <div class="col-7">
        <div class="d-flex">
            <p class="me-3">Các claims tài khoản đang sở hữu: </p>
            <a asp-page="./UserClaimManage" asp-page-handler="AddClaim" asp-route-userid="@Model.user.Id" title="Thêm claim cho người dùng">
                <i class="bi bi-plus-circle-fill h4"></i>
            </a>
        </div>
        <partial name="Claims/_TableUserClaims" model="Model.userClaims" />
    </div>
</div>

@section Scripts {
    <script src="~/lib/selectize.js/js/selectize.min.js"></script>
    <link href="~/lib/selectize.js/css/selectize.bootstrap5.min.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $('#id-select-roles').selectize({
                plugins: ['remove_button', 'clear_button',],
                closeAfterSelect: true,
                placeholder: 'Thêm Role ...'
            });
        });

        //Hàm chọn tất cả
        Selectize.prototype.selectall = function () {
            var self = this;
            self.setValue(Object.keys(self.options));
            self.focus();
        };
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

