@page "/user/set-password"
@model SetPasswordModel
@{
    ViewData["Title"] = "Thiết lập mật khẩu cho người dùng";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" for="StatusMessage" />

<div class="row">
    <div class="col-md-6">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" class="form-control" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group mb-3 float-end">
                <button type="submit" class="btn btn-lg btn-primary me-2">Đồng ý</button>
                <a asp-page="./Index" class="btn btn-lg btn-secondary" asp-route-id="@Model.user.Id">Hủy bỏ</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
