@page
@model EFWeb.Areas.Admin.Pages.User.Update.UserClaimManageModel
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
    string handler = ViewContext.HttpContext.Request.Query["handler"].ToString();
}
<h1>@ViewData["Title"]</h1>

<partial name="_StatusMessage" model="Model.StatusMessage" />
<hr />
<div class="row">
    <div class="col-md-7">
        <form method="post" class="col-md-9">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-2 row ps-4">
                <div class="col-md-3">
                    <label asp-for="Input.ClaimType" class="control-label "></label>
                </div>
                <div class="col-md-9 ps-0">
                    <input asp-for="Input.ClaimType" class="form-control" autofocus onfocus="var temp=this.value; this.value=''; this.value=temp" />
                    <span asp-validation-for="Input.ClaimType" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row ps-4">
                <div class="col-md-3">
                    <label asp-for="Input.ClaimValue" class="control-label"></label>
                </div>
                <div class="col-md-9 ps-0">
                    <input asp-for="Input.ClaimValue" class="form-control" />
                    <span asp-validation-for="Input.ClaimValue" class="text-danger"></span>
                </div>
            </div>
            <partial name="_SubmitBackButton" model="@(new ButtonAttr{PageUrl = "./AddRole", UserId = Model.user.Id})" />
        </form>
        <div class="clearfix"></div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $('form').submit(function () {
            $("input.form-control").each(function () {
                $(this).val(this.value.trim().toLowerCase());
            })
        });
    </script>
}