@page "/forgot-password-confirmation"
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Xác nhận quên tài khoản";
}

<h1>@ViewData["Title"]</h1>

<p>
    Hãy truy cập vào Email của bạn để xác thực tài khoản
</p>


