@page "/forgot-password-confirmation"
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Xác nhận quên tài khoản";
}

<h1>@ViewData["Title"]</h1>
@if (ViewData["isCorrectEmail"] != null)
{
    <p>
        Hãy truy cập vào Email của bạn để xác thực tài khoản
    </p>
}
else{
    <p>
        Email của bạn không chính xác, vui lòng kiểm tra lại.
    </p>
}

