@page "/not-found-account"
@model NotFoundAccountModel
@{
    ViewData["Title"] = "Không tìm thấy tài khoản";
}
<h1>@ViewData["Title"]</h1>
<p>
    Không tìm thấy tài khoản tương ứng với thông tin nhập vào. Vui lòng kiểm tra lại!
</p>
