@page "/register-confirm"
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Xác thực tài khoản";
}

<h1>@ViewData["Title"]</h1>

<p>
    Bạn cần truy cập vào Email để xác thực tài khoản.
</p>

