@model ButtonAttr

<div class="btn-back ms-3">
    <a asp-page="@Model.PageUrl" class="btn btn-lg float-end p-3" title="@Model.Title">
        <i class="bi bi-arrow-left-square h1"></i>
    </a>
</div>
